body{
    background-image: url("img\back.jpg");
}
form{
    padding: 20px;
    border: 2px solid black;
    background:rgba(53, 52, 51, 0.4);
   
}

.container-form{
    padding: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
}

.flex-box{
    
    align-content: flex-end;
    align-items: flex-end;
    margin-left: 68%;
    
}

.btn-submit{
    padding: 5px;
    align-items: center;
}